body {
  background-color: #fff5e4;
  font-family: "Roboto Slab", serif;
}

.App {
  max-width: 55%;
  margin: auto;
}

.App-header {
  margin: 50px 0;
  text-align: center;
}

.App h1 {
  font-size: 60px;
}

.App span {
  color: #850e35;
  margin-right: 15px;
}

.App footer {
  text-align: center;
  font-size: 13px;
  margin: 20px 0 50px 0;
  opacity: 0.7;
}
